.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 30rem;
  left: calc(50% - 15rem);
}

ul {
  display: flex !important;
  align-items: center;
}

 nav > ul li:nth-child(1),
 nav > ul li:nth-child(2) {
  margin-right: 0.5rem;
}

@media (max-width: 48rem) {
  .navigation {
    display: none;
  }
}
