* {
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;

  --main-color: #78bf35;
  /* --main-color: #008000; */
  --main-text-color: #585858;
  --main-body-color: #e9e9e9;
  color: rgb(182, 182, 182)
}

body {
  margin: 0;
  padding: 0 !important;
  overflow: auto !important;
}

main {
  margin: 5rem auto 0 auto;
  padding: 2rem 0;
  width: 100%;
  min-height: calc(100vh - 10rem);
  background-color: #e9e9e9;
}

h1,h2,h3,h4,h5,h5,p,textarea {
  color: var(--main-text-color)
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.active-link {
  color: #78bf35!important;
}
